.intro {
  font-size: 3rem;
  color: var(--color-grey-dark-1);
  display: flex;
  &__avatar {
    display: inline;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    img {
      border-radius: 50%;
      border: 0.1px solid var(--color-primary-light);
      width: 50px;
      margin-left: 1.25rem;
      &:hover {
        transform: scale(4);
        transition: 0.294s;
      }
    }
  }
}
////////////////////////////////////////
// PARAGRAPH
.paragraph {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}

.history {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  &__logos {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
  &__logo-link {
    text-decoration: none;
  }
}

.quote:last-of-type {
  margin-bottom: 0rem;
}

.quote {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__user-name {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &::before {
    content: '\201C';
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

.contact-me {
  display: flex;
  align-items: center;
  margin: 3rem 0rem;
  padding: 3rem 0rem;
  border-bottom: var(--line);
  &__icon {
    width: 2.75rem;
    height: 2.75rem;
    margin-left: 1rem;
    &:hover {
      transform: scale(1.25);
      transition: 0.2s;
      box-shadow: var(--shadow-light);
    }
  }
}

// host your page
.hyp {
  margin: 3rem 0rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  &__title {
    display: flex;
    align-items: center;
    &-tooltip {
      margin-left: 0.5rem;
      font-size: 2.5rem;
      animation-name: shake;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      :hover {
        transform: translateY(-1px);
      }
      :active {
        transform: translateY(2px);
      }
    }
  }
  &__main {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &__subdomain {
    flex: 0 0 70%;
    .ant-select-selection-item {
      color: black;
    } 
  }
  &__uploader-wrapper {
    display: flex; 
    margin-top: 1rem;
  }
  &__uploader {
    display: flex;
    flex: 0 0 70%;
    flex-direction: row;
    .ant-upload-list-item {
      margin-top: 4px;
    }
  }
} 

@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
